.feedback-form {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  padding: 12px;
  background-color: #fff;
  border-radius: 4px;
  margin: 24px auto;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  color: #2e2f42;
  font-weight: 500;
}

.feedback-form input,
.feedback-form textarea {
  width: 100%;
  padding: 8px;
  font: inherit;
  border: 1px solid #808080;
  border-radius: 4px;
  resize: none;
  margin-top: 4px;
}

.feedback-form button {
  align-self: center;
  padding: 8px 16px;
  background-color: #4e75ff;
  color: #fff;
  font: inherit;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form button:hover,
.feedback-form button:focus {
  background-color: #6c8cff;
}
